<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h5>
                    <strong><%= @album.name %></strong>
                </h5>
                
                <p>
                    <%= @album.description %>
                </p>
                
                <p>
                    <%= link_to album_path(@album), class:"" do %>
                        <i class="fas fa-angle-left"></i> back
                    <% end %>
                </p>
            </div>
            
            <div class="col-md-12">
                <hr>
            </div>
            
            <div class="col-md-12">
                <%= render "form" %>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="row">
            <% @album.images.each do |a| %>
                <div class="col-md-6 album-image-container-parent">
                    <div class="card album-image-container">
                        <div class="card-body" style="background-image: url('<%= url_for(a) %>');"
                            onclick="window.location.href='/photos/<%= photo_for(a).id %>/edit'"></div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>